.body {
    /*#273b87*/
    background-color: #273b87;
    /*margin-top: 250px;*/
    width: 100%;
    height: 100vh;
    overflow: auto;

}
.title {
    color: white ;
    font-size: 40px;
    position: relative;
    float: left;
    text-align: left;
    font-family: montserrat, sans-serif;
    padding: 90px 10px 70px 70px;
    width: 45%;

    
}

.subtext {
    font-size: 16px;
    color: white;

}
.whereContact {
    background-color: white;
    float: right;
    color: #606060;
    margin: 90px 20px;
    padding: 85px;
    width: 50%;
}
.location-icon {
    height: 30px;
    width: auto;
    margin: 20px;
  }
.phone-icon {
    height: 30px;
    width: auto;
    margin: 20px;
  }
.mail-icon {
    height: 30px;
    width: auto;
    margin: 20px;
  }
