.navigation {
    background: white;
    height: 8vh;
    position: sticky;
    top: 0;
    color: grey !important;
  }

  .ml-auto {
    color: grey !important;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: right;
    padding-right: 2px;
    margin: 0px 0px 0px 0px;
    text-decoration: none !important;
    /*position: relative;
    padding-left: 950px;*/
}
  .nav-link:hover {
    color: gray !important;
  }
